Repository boshu2/gastown-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, go-fmt, go-vet

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint helm/gastown-operator --strict'
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: bash -c 'gofmt -w .'
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

feat: path traversal validation, refinery circuit breaker, godoc coverage
  .beads/issues.jsonl
  api/v1alpha1/convoy_types.go
  api/v1alpha1/polecat_types.go
  api/v1alpha1/polecat_webhook.go
  api/v1alpha1/polecat_webhook_test.go
  api/v1alpha1/rig_types.go
  api/v1alpha1/rig_webhook.go
  api/v1alpha1/rig_webhook_test.go
  cmd/main.go
  internal/controller/beadstore_controller.go
  internal/controller/convoy_controller.go
  internal/controller/polecat_controller.go
  internal/controller/refinery_controller.go
  internal/controller/refinery_controller_unit_test.go
  pkg/client/client.go
  pkg/metrics/reconcile.go
Due: go-fmt, go-vet

Release v0.5.0
  CHANGELOG.md
  VERSION
Due: none

fix(release): run GoReleaser before install manifests to avoid dirty tree
  .github/workflows/release.yml
Due: none

fix(release): install syft before GoReleaser for binary SBOM generation
  .github/workflows/release.yml
Due: none

fix: let GoReleaser own full GitHub Release with binary uploads
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

chore: go mod tidy after k8s ecosystem bump
  go.sum
Due: none

chore: go mod tidy after non-major deps bump
  go.sum
Due: none

fix(release): copy install.yaml before GoReleaser --clean wipes dist/
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

feat: add Kind smoke test for published release artifacts
  .beads/issues.jsonl
  Makefile
  scripts/smoke-test.sh
Due: none

fix: use correct Rig spec fields in smoke test (gitURL + beadsPrefix)
  .beads/issues.jsonl
  scripts/smoke-test.sh
Due: none

fix: look up child resources in operator namespace for smoke test
  scripts/smoke-test.sh
Due: none

feat(go-4oy.1): add gomodTidy to Renovate postUpdateOptions
  .beads/issues.jsonl
  renovate.json
Due: none

chore: sync beads after RPI completion
  .beads/issues.jsonl
Due: none

fix(security): Wave 1 critical fixes - network policy, operator non-root, pod security, RBAC docs
  .beads/issues.jsonl
  config/network-policy/polecat-egress.yaml
  config/rbac/SECURITY.md
  docs/SECURITY.md
  helm/gastown-operator/values.yaml
  pkg/pod/builder.go
Due: helm-lint, go-fmt, go-vet

fix(security): Wave 2 high-priority fixes - shell injection, webhooks, upload filter, ingress policy
  .beads/issues.jsonl
  api/v1alpha1/polecat_webhook.go
  cmd/kubectl-gt/cmd/auth.go
  config/network-policy/polecat-ingress.yaml
  pkg/pod/builder.go
Due: go-fmt, go-vet

feat: Add audit logging and secret rotation tracking
  cmd/kubectl-gt/cmd/auth.go
  internal/controller/polecat_controller.go
  pkg/metrics/secret_age.go
Due: go-fmt, go-vet

beads: close go-ccx.9 and go-ccx.10 (Wave 3 complete)
  .beads/.gitignore
  .beads/.migration-hint-ts
  .beads/dolt.20260216T230511Z.corrupt.backup/beads/.dolt/config.json
  .beads/dolt.20260216T230511Z.corrupt.backup/beads/.dolt/noms/LOCK
  .beads/dolt.20260216T230511Z.corrupt.backup/beads/.dolt/noms/journal.idx
  .beads/dolt.20260216T230511Z.corrupt.backup/beads/.dolt/noms/manifest
  .beads/dolt.20260216T230511Z.corrupt.backup/beads/.dolt/noms/vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
  .beads/dolt.20260216T230511Z.corrupt.backup/beads/.dolt/repo_state.json
  .beads/issues.jsonl
  .beads/metadata.json
Due: none

beads: close Wave 2 issues (go-ccx.5-8)
  .beads/issues.jsonl
Due: none

refactor: extract sub-functions from runAuthSync to reduce complexity
  cmd/kubectl-gt/cmd/auth.go
Due: go-fmt, go-vet

refactor: extract sub-functions from ensureWorking to reduce complexity
  internal/controller/polecat_controller.go
Due: go-fmt, go-vet

test: add table-driven tests for IsSecretStale and RecordSecretAge
  pkg/metrics/secret_age_test.go
Due: go-fmt, go-vet

feat: make secret staleness threshold configurable via Helm values
  cmd/main.go
  helm/gastown-operator/templates/deployment.yaml
  helm/gastown-operator/values.yaml
  pkg/metrics/secret_age.go
  pkg/metrics/secret_age_test.go
Due: helm-lint, go-fmt, go-vet

docs: document cluster-scoped vs namespaced resource child placement
  docs/architecture.md
Due: none

chore: add GoReleaser dry-run make target for pre-release validation
  Makefile
Due: none

docs: add CWE references to security fixes in CHANGELOG
  CHANGELOG.md
Due: none

fix: prefer project-local golangci-lint over system version in pre-push hook
  .githooks/pre-push
Due: none

fix: use macOS-compatible grep in GOALS.yaml coverage check
  GOALS.yaml
Due: none

chore: add CHANGELOG enforcement warning for security commits
  .githooks/pre-push
Due: none

chore: add meta-goal to validate that goal checks can fail
  GOALS.yaml
  scripts/validate-goal-checks.sh
Due: none

feat: route Polecats through LiteLLM to MadEye and add promo-api
  .gitignore
  Makefile
  api/v1alpha1/polecat_webhook.go
  api/v1alpha1/polecat_webhook_test.go
  cmd/promo-api/Dockerfile
  cmd/promo-api/kubeconfig.go
  cmd/promo-api/main.go
  config/samples/litellm/polecat-madeye.yaml
  deploy/docker-desktop/PROMO_API.md
  deploy/docker-desktop/README.md
  deploy/docker-desktop/apply-full-stack.sh
  deploy/docker-desktop/deploy-promo-api.sh
  deploy/docker-desktop/promo-api.yaml
  deploy/docker-desktop/samples.yaml.tpl
  deploy/docker-desktop/secret.env.example
  deploy/litellm/.env.example
  deploy/litellm/README.md
  deploy/litellm/apply-docker-desktop.sh
  deploy/litellm/config.yaml
  deploy/litellm/docker-compose.yaml
  deploy/litellm/entrypoint.sh
  deploy/litellm/k8s-docker-desktop.yaml
  deploy/litellm/k8s-entrypoint.sh
  deploy/litellm/k8s.yaml
  deploy/litellm/prefill_proxy.py
  deploy/litellm/secret.env.example
  deploy/litellm/strip_prefill.py
  docs/CONFIG.md
  docs/LITE_LLM.md
  images/polecat-agent/Dockerfile
  pkg/pod/builder.go
  pkg/pod/builder_test.go
  templates/polecat-kubernetes.yaml
Due: go-fmt, go-vet

docs: expand Docker Desktop README with clone and curl steps
  deploy/docker-desktop/README.md
Due: none

finish tool added
  .gitignore
  Makefile
  bte-promo-script/.env.example
  bte-promo-script/README.md
  bte-promo-script/api/Dockerfile
  bte-promo-script/api/defaults.go
  bte-promo-script/api/handlers_handoff.go
  bte-promo-script/api/kubeconfig.go
  bte-promo-script/api/main.go
  bte-promo-script/api/s3.go
  bte-promo-script/api/webhook.go
  bte-promo-script/deploy/apply-full-stack.sh
  bte-promo-script/deploy/bte-promo-script.yaml
  bte-promo-script/deploy/deploy.sh
  bte-promo-script/deploy/rig.yaml.tpl
  bte-promo-script/finish/client.go
  bte-promo-script/finish/env.go
  bte-promo-script/finish/finish.go
  bte-promo-script/finish/main.go
  bte-promo-script/finish/parse.go
  bte-promo-script/finish/upload.go
  bte-promo-script/finish/webhook.go
  deploy/docker-desktop/PROMO_API.md
  deploy/docker-desktop/README.md
  deploy/docker-desktop/apply-full-stack.sh
  deploy/docker-desktop/deploy-promo-api.sh
  deploy/docker-desktop/samples.yaml.tpl
  deploy/docker-desktop/secret.env.example
  deploy/litellm/.env.example
  deploy/litellm/secret.env.example
  docs/LITE_LLM.md
  images/polecat-agent/Dockerfile
Due: go-fmt, go-vet

infra changes
  bte-promo-script/api/defaults.go
  bte-promo-script/api/main.go
  bte-promo-script/deploy/deploy-promo.sh
  bte-promo-script/deploy/madeye-proxy.yaml
  bte-promo-script/deploy/prod/README.md
  bte-promo-script/deploy/prod/external-secret.yaml
  bte-promo-script/deploy/prod/infra-monolith.yaml
  bte-promo-script/deploy/prod/ingress.yaml
  bte-promo-script/deploy/prod/namespace.yaml
  bte-promo-script/deploy/prod/rbac.yaml
  bte-promo-script/deploy/prod/rig.yaml
  bte-promo-script/deploy/prod/secret-store.yaml
  bte-promo-script/deploy/prod/serviceaccount.yaml
  bte-promo-script/deploy/prod/services.yaml
  bte-promo-script/madeye-proxy/convert_response.go
  bte-promo-script/madeye-proxy/main.go
  bte-promo-script/tools/finish/env.go
  pkg/pod/builder.go
Due: go-fmt, go-vet

Path conditions:
  helm-lint: any of: ^helm/.*\.(yaml|yml|tpl)$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
