Repository boshu2/gastown-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, go-fmt, go-vet

.pre-commit-config.yaml:

# Pre-commit hooks for gastown-operator
# Install: pre-commit install
# Run: pre-commit run --all-files

repos:
  # Helm validation
  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: bash -c 'helm lint helm/gastown-operator --strict'
        language: system
        files: ^helm/.*\.(yaml|yml|tpl)$
        pass_filenames: false

  # Go validation
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: bash -c 'gofmt -w .'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: bash -c 'go vet ./...'
        language: system
        files: \.go$
        pass_filenames: false

fix(ci): use k8s image for helm jobs
  .gitlab-ci.yml
  scripts/mirror-ci-images.sh
Due: none

fix(ci): check secure file after release check
  .gitlab-ci.yml
Due: none

fix(ci): override skopeo image entrypoint for shell scripts
  .gitlab-ci.yml
Due: none

fix(ci): override alpine/git image entrypoint
  .gitlab-ci.yml
Due: none

fix(ci): add fetch-depth for gitleaks incremental scan
  .github/workflows/ci.yml
Due: none

fix(release): address 5 friction points from post-mortem
  .gitlab-ci.yml
  Dockerfile
  Makefile
  README.md
  helm/gastown-operator/crds/gastown.gastown.io_polecats.yaml
  helm/gastown-operator/templates/clusterrole.yaml
  helm/gastown-operator/values.yaml
  scripts/release-validation.sh
  scripts/sync-helm.sh
  scripts/validate-helm-sync.sh
Due: helm-lint

fix(ci): add Trivy scan to multi-arch GHCR build
  .gitlab-ci.yml
Due: none

fix(release): simplify multi-arch - local build instead of CI buildx
  .gitlab-ci.yml
  Makefile
  scripts/mirror-ci-images.sh
  scripts/release-ghcr.sh
Due: none

feat(ci): add local Make-based CI/CD pipeline
  .gitignore
  Makefile
  scripts/build-local.sh
  scripts/github-release.sh
  scripts/push-helm.sh
Due: none

chore(release): bump version to 0.4.0
  CHANGELOG.md
  VERSION
  helm/gastown-operator/Chart.yaml
Due: helm-lint

fix(ci): improve GHCR auth check in release-ghcr.sh
  scripts/release-ghcr.sh
Due: none

feat(images): add pre-built polecat-agent container image
  Makefile
  README.md
  images/polecat-agent/.dockerignore
  images/polecat-agent/Dockerfile
  images/polecat-agent/README.md
  pkg/pod/builder.go
  scripts/release-polecat-agent.sh
Due: go-fmt, go-vet

fix(security): address gosec findings and enable local security linting
  .golangci.yml
  cmd/kubectl-gt/cmd/auth.go
  internal/git/git.go
  internal/git/git_test.go
  test/utils/utils.go
Due: go-fmt, go-vet

fix(images): update polecat-agent for Go 1.24 and fix claude permissions
  images/polecat-agent/Dockerfile
Due: none

docs(changelog): add security fixes and polecat-agent to 0.4.0 release notes
  CHANGELOG.md
Due: none

fix(ci): remove invalid gosec exclude-generated property
  .golangci.yml
  README.md
Due: none

docs: improve README clarity and add image customization guide
  AGENT_INSTRUCTIONS.md
  README.md
  images/polecat-agent/CUSTOMIZING.md
  images/polecat-agent/README.md
Due: none

feat(phase2): remove local mode, make operator Kubernetes-only
  api/v1alpha1/convoy_types.go
  api/v1alpha1/polecat_types.go
  api/v1alpha1/polecat_webhook.go
  api/v1alpha1/polecat_webhook_test.go
  api/v1alpha1/rig_types.go
  api/v1alpha1/rig_webhook.go
  api/v1alpha1/rig_webhook_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/local/main.go
  cmd/main.go
  config/crd/bases/gastown.gastown.io_convoys.yaml
  config/crd/bases/gastown.gastown.io_polecats.yaml
  config/crd/bases/gastown.gastown.io_rigs.yaml
  internal/controller/beadssync_controller.go
  internal/controller/beadssync_controller_test.go
  internal/controller/beadstore_controller.go
  internal/controller/convoy_controller.go
  internal/controller/convoy_controller_test.go
  internal/controller/polecat_controller.go
  internal/controller/polecat_controller_test.go
  internal/controller/rig_controller.go
  internal/controller/rig_controller_test.go
  pkg/gt/circuit_breaker.go
  pkg/gt/circuit_breaker_test.go
  pkg/gt/client.go
  pkg/gt/client_test.go
  pkg/gt/interface.go
  pkg/gt/mock_client.go
  pkg/gt/types.go
Due: go-fmt, go-vet

feat(phase3): security hardening - network policies and strict SSH
  api/v1alpha1/polecat_types.go
  config/crd/bases/gastown.gastown.io_polecats.yaml
  config/default/kustomization.yaml
  config/network-policy/kustomization.yaml
  config/network-policy/polecat-egress.yaml
  config/samples/gastown_v1alpha1_polecat_opencode.yaml
  docs/SECURITY.md
  pkg/pod/builder.go
Due: go-fmt, go-vet

docs(phase4): align README with Kubernetes-only implementation
  README.md
Due: none

chore(phase5): polish and update templates for kubernetes-only
  Makefile
  templates/polecat-kubernetes.yaml
  templates/polecat-minimal.yaml
Due: none

fix: resolve polecat pod UID and branch issues
  images/polecat-agent/Dockerfile
  pkg/pod/builder.go
Due: go-fmt, go-vet

chore: complete OSS readiness cleanup
  AGENT_INSTRUCTIONS.md
  FRICTION_POINTS.md
  api/v1alpha1/polecat_types.go
  cmd/kubectl-gt/cmd/polecat.go
  config/crd/bases/gastown.gastown.io_polecats.yaml
  config/samples/gastown_v1alpha1_polecat.yaml
  docs/CONFIG.md
  docs/CRD_REFERENCE.md
  docs/TROUBLESHOOTING.md
  docs/USER_GUIDE.md
  docs/adr/ADR-002-execution-modes.md
  docs/quickstart.md
  helm/gastown-operator/crds/gastown.gastown.io_polecats.yaml
Due: helm-lint, go-fmt, go-vet

fix(e2e): add missing CRDs to kustomization.yaml
  config/crd/kustomization.yaml
Due: none

fix(e2e): label namespace with metrics=enabled for NetworkPolicy
  test/e2e/e2e_test.go
Due: go-fmt, go-vet

fix(docs): remove remaining local mode references
  cmd/kubectl-gt/README.md
  scripts/cluster-test.sh
Due: none

fix(oss): address red team findings for OSS readiness
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
Due: none

fix(docs): remove stale local mode references from .claude/
  .claude/SKILL.md
  .claude/references/CRD_REFERENCE.md
  .claude/references/TROUBLESHOOTING.md
Due: none

feat(kubectl-gt): AI-native interface enhancements
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Makefile
  cmd/kubectl-gt/cmd/convoy.go
  cmd/kubectl-gt/cmd/convoy_test.go
  cmd/kubectl-gt/cmd/helpers.go
  cmd/kubectl-gt/cmd/polecat.go
  cmd/kubectl-gt/cmd/polecat_test.go
  cmd/kubectl-gt/cmd/rig.go
  cmd/kubectl-gt/cmd/rig_test.go
  cmd/kubectl-gt/cmd/sling.go
  cmd/kubectl-gt/cmd/sling_test.go
Due: go-fmt, go-vet

feat(kubectl-gt): add AI-native CLI enhancements for v0.4.1
  CHANGELOG.md
  README.md
  VERSION
  cmd/kubectl-gt/cmd/sling.go
  cmd/kubectl-gt/cmd/sling_test.go
Due: go-fmt, go-vet

docs: update AGENTS.md and AGENT_INSTRUCTIONS.md to CLI-first
  AGENTS.md
  AGENT_INSTRUCTIONS.md
Due: none

docs: update USER_GUIDE, quickstart, TROUBLESHOOTING to CLI-first
  .claude/SKILL.md
  docs/TROUBLESHOOTING.md
  docs/USER_GUIDE.md
  docs/quickstart.md
Due: none

chore: bump helm chart to 0.4.1 and add kubectl-gt to release
  helm/gastown-operator/Chart.yaml
  scripts/github-release.sh
Due: helm-lint

chore: sync helm CRDs for v0.4.1
  helm/gastown-operator/crds/gastown.gastown.io_convoys.yaml
  helm/gastown-operator/crds/gastown.gastown.io_rigs.yaml
Due: helm-lint

feat(kubectl-gt): add Mad Max themed branding and ASCII art
  README.md
  cmd/kubectl-gt/cmd/root.go
  cmd/kubectl-gt/cmd/sling.go
Due: go-fmt, go-vet

fix: correct ASCII art alignment in README
  README.md
Due: none
