Repository boshu2/gastown-operator: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, go-fmt, go-vet

helm-lint:
  name: helm lint
  entry: bash -c 'helm lint helm/gastown-operator --strict'
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: bash -c 'gofmt -w .'
  language: system
  pass_filenames: false

go-vet:
  name: go vet
  entry: bash -c 'go vet ./...'
  language: system
  pass_filenames: false

docs: lead with value proposition and center ASCII art
  README.md
Due: none

docs: emphasize same workflow, just more compute
  README.md
Due: none

docs: fix laptop capacity to ~20-30 polecats
  README.md
Due: none

docs: highlight close laptop, 24/7 town, CPU bound
  README.md
Due: none

docs: clarify README as Gas Town scaling layer
  README.md
Due: none

docs: move badges to top of README
  README.md
Due: none

docs: improve README with mermaid diagram and FIPS badge
  README.md
Due: none

test: add integration tests for refinery merge workflow
  internal/git/merge_test.go
Due: go-fmt, go-vet

docs: update mermaid diagram to show full Gas Town functionality
  README.md
Due: none

feat: implement condition alignment and auto-provisioning
  api/v1alpha1/rig_types.go
  config/crd/bases/gastown.gastown.io_rigs.yaml
  internal/controller/constants.go
  internal/controller/polecat_controller.go
  internal/controller/polecat_controller_test.go
  internal/controller/refinery_controller.go
  internal/controller/refinery_controller_test.go
  internal/controller/rig_controller.go
  internal/controller/rig_controller_test.go
  internal/controller/witness_controller.go
  internal/controller/witness_controller_test.go
Due: go-fmt, go-vet

test(e2e): add Rig auto-provisioning and merge workflow tests
  config/manager/manager.yaml
  test/e2e/e2e_test.go
Due: go-fmt, go-vet

fix(deploy): add /tmp volume for Refinery git operations
  config/manager/manager.yaml
Due: none

fix(docker): update FIPS Dockerfile for Go 1.25
  Dockerfile.fips
Due: none

docs: add clear explanation of CRs and what runs in cluster
  README.md
Due: none

fix(test): ensure git branch named 'main' in merge tests
  internal/git/merge_test.go
Due: go-fmt, go-vet

docs: improve CLAUDE.md with comprehensive agent context
  CLAUDE.md
Due: none

feat: technical enhancements for reliability and observability
  cmd/main.go
  config/manager/kustomization.yaml
  internal/controller/beadstore_controller_test.go
  internal/controller/refinery_controller.go
  internal/controller/rig_controller.go
  internal/controller/rig_controller_test.go
  internal/controller/witness_controller.go
  internal/controller/witness_controller_test.go
  pkg/metrics/reconcile.go
  pkg/pod/builder.go
Due: go-fmt, go-vet

chore: bump version to 0.4.2
  VERSION
Due: none

fix(release): use digest for SBOM and /charts path for Helm
  .github/workflows/release.yml
Due: none

fix(release): add helm registry login to verify job
  .github/workflows/release.yml
Due: none

docs: add 0.4.2 changelog entry
  CHANGELOG.md
Due: none

chore: bump version references to 0.4.2
  README.md
  helm/gastown-operator/Chart.yaml
Due: helm-lint

docs: update documentation for 0.4.2 release
  AGENTS.md
  AGENT_INSTRUCTIONS.md
  cmd/kubectl-gt/Makefile
  cmd/kubectl-gt/README.md
  docs/CRD_REFERENCE.md
  docs/TROUBLESHOOTING.md
  docs/USER_GUIDE.md
  docs/architecture.md
  docs/quickstart.md
  plugins/gt.yaml
  scripts/github-release.sh
Due: none

chore: repo housekeeping and cleanup
  config/samples/gastown_v1alpha1_convoy.yaml
  config/samples/gastown_v1alpha1_rig.yaml
  docs/adr/ADR-002-execution-modes.md
  plugins/gt.yaml
  scripts/update-krew-manifest.sh
Due: none

fix(e2e): prevent AfterAll timeout by cleaning up CRs before undeploy
  test/e2e/e2e_test.go
Due: go-fmt, go-vet

feat: elite operator upgrade (B+ → A-)
  .beads/issues.jsonl
  api/v1alpha1/polecat_types.go
  api/v1alpha1/rig_types.go
  config/crd/bases/gastown.gastown.io_polecats.yaml
  config/crd/bases/gastown.gastown.io_rigs.yaml
  docs/architecture.md
  internal/controller/beadstore_controller.go
  internal/controller/convoy_controller.go
  internal/controller/polecat_controller.go
  internal/controller/polecat_controller_unit_test.go
  internal/controller/refinery_controller.go
  internal/controller/rig_controller.go
  internal/controller/rig_controller_unit_test.go
  internal/controller/witness_controller.go
  internal/controller/witness_controller_unit_test.go
  pkg/metrics/reconcile.go
  pkg/workqueue/ratelimiter.go
Due: go-fmt, go-vet

fix(cel): handle optional settings in CEL validation
  api/v1alpha1/rig_types.go
  config/crd/bases/gastown.gastown.io_rigs.yaml
Due: go-fmt, go-vet

docs: add 0.4.3 changelog entry
  CHANGELOG.md
Due: none

fix: run go mod tidy to promote golang.org/x/time to direct dependency
  go.mod
Due: none

fix: add go mod tidy check to release workflow and pre-commit
  .githooks/pre-commit.old
  .github/workflows/release.yml
Due: none

docs: add release workflow to CLAUDE.md and AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

docs: comprehensive CLAUDE.md and AGENTS.md with repeatable workflows
  AGENTS.md
  CLAUDE.md
Due: none

docs: Go best practices analysis across 6 dimensions
  GO_BEST_PRACTICES_ANALYSIS.md
Due: none

docs: A+ remediation plan and K8s-native agent orchestration architecture
  PLAN.md
Due: none

feat: v0.5.0 prep - product definition, fitness goals, pipeline automation
  .beads/.gitignore
  .beads/.migration-hint-ts
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .beads/redirect
  .githooks/post-merge
  .githooks/pre-commit
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .goreleaser.yaml
  .releaserc.yaml
  CLAUDE.md
  FRICTION_POINTS.md
  GOALS.yaml
  Makefile
  PRODUCT.md
  helm/gastown-operator/crds/gastown.gastown.io_polecats.yaml
  helm/gastown-operator/crds/gastown.gastown.io_rigs.yaml
  helm/gastown-operator/templates/servicemonitor.yaml
  helm/gastown-operator/values.yaml
  renovate.json
Due: helm-lint

chore: remove internal GitLab/Tekton infrastructure from public repo
  .github/CODEOWNERS
  .github/labeler.yml
  .gitlab-ci.yml
  CLAUDE.md
  CONTRIBUTING.md
  Dockerfile.fips
  Dockerfile.tekton
  Dockerfile.vibe-prescan
  Makefile
  config/manager/kustomization.yaml
  deploy/tekton/pipeline.yaml
  deploy/tekton/pipelinerun.yaml
  deploy/tekton/resources/README.md
  deploy/tekton/resources/registry-secret.yaml
  deploy/tekton/tasks/athena-persist.yaml
  deploy/tekton/tasks/build-gt-cli.yaml
  deploy/tekton/tasks/cosign-sign.yaml
  deploy/tekton/tasks/e2e-test.yaml
  deploy/tekton/tasks/gitleaks.yaml
  deploy/tekton/tasks/go-test.yaml
  deploy/tekton/tasks/gosec.yaml
  deploy/tekton/tasks/govulncheck.yaml
  deploy/tekton/tasks/helm-push.yaml
  deploy/tekton/tasks/release-validate.yaml
  deploy/tekton/tasks/skopeo-copy.yaml
  deploy/tekton/tasks/syft-sbom.yaml
  deploy/tekton/tasks/vibe-prescan.yaml
  docs/DEPLOYMENT-GUIDE.md
  helm/gastown-operator/values-internal.yaml.example
  scripts/mirror-ci-images.sh
  test/e2e/e2e_suite_test.go
Due: go-fmt, go-vet

fix: suppress gosec G703 false positives on os.CreateTemp cleanup
  internal/controller/refinery_controller.go
  internal/git/git.go
Due: go-fmt, go-vet

fix: correct nosec annotation format for gosec G703
  internal/controller/refinery_controller.go
  internal/git/git.go
Due: go-fmt, go-vet

Path conditions:
  helm-lint: any of: ^helm/.*\.(yaml|yml|tpl)$
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
